### Creación de la Base de Datos (BBDD)

#### Autor: Mario de la Parte Izquierdo 
#### Fecha: 27/05/2019

In [57]:
import sqlite3

In [58]:
# La creación de la BBDD se debería ejecutar 1 única vez

nombreBD = "BBDD" # Nombre de nuestra Base de Datos (BBDD)

miConexion = sqlite3.connect(nombreBD) # Se crea la conexión y nuestra BBDD.
miCursor = miConexion.cursor() # Se crea el cursor o puntero para crear una tabla.

# Se crea la tabla "ASIGNATURAS"
miCursor.execute('''
                 CREATE TABLE ASIGNATURAS(
                     Id_Asignatura  INTEGER PRIMARY KEY,
                     Descripcion VARCHAR(50),
                     Curso INTEGER, Plan VARCHAR(50),
                     Tipologia VARCHAR(10),
                     Activ VARCHAR(10),
                     Tp VARCHAR(10),
                     Vp INTEGER,
                     Turno VARCHAR(10)
                 )''') # Ejecutar la consulta en SQL para crear 1 tabla.

# Se crea la tabla "GRUPOS"
miCursor.execute('''
                CREATE TABLE GRUPOS(
                    Id_Asignatura  INTEGER,
                    Id_Grupo INTEGER,
                    Temporada VARCHAR(50),
                    Total_Alumnos INTEGER,
                    PRIMARY KEY(Id_Asignatura, Id_Grupo, Temporada)
                )''') 

# Se crea la tabla "PROFESORES"
miCursor.execute('''
                CREATE TABLE PROFESORES(
                    Id_Profesor  INTEGER,
                    Id_Asignatura INTEGER,
                    Id_Grupo INTEGER,
                    Temporada VARCHAR(50),
                    Acta VARCHAR(1), 
                    Nombre_Apellidos VARCHAR(50),
                    PRIMARY KEY(Id_Profesor, Id_Asignatura, Id_Grupo, Temporada)
                )''') 

miConexion.commit() # Se guardan los cambios anteriores
miConexion.close() # Se cierra la conexión

#### Prueba para introducir valores a nuestra BBDD:

In [59]:
# Ejemplo para insertar datos a la BBDD
miConexion = sqlite3.connect(nombreBD)
miCursor = miConexion.cursor()


#miCursor.execute("INSERT INTO ASIGNATURAS VALUES(811, 'INFORMÁTICA BÁSICA', 1, '264-Ing. Informatica', 'T', 'S','S',1,'T')")# Se introducen datos a la tabla 


# Introducir varios registros (líneas) de golpe
cadenaExterna = 'FÍSICA' # Asi se introduciría nuestra información de los Excel

# Se crea una lista de tuplas:
variasLineas = [  
    (811, "INFORMÁTICA BÁSICA", 1, "264-Ing. Informatica", "T", "S","S",1,"T"),
    (812, "INFORMÁTICA BÁSICA", 1, "264-Ing. Informatica", "T", "S","S",1,"T"),
    (815, cadenaExterna, 1, "264-Ing. Informatica", "T", "S","S",1,"T")    
]

miCursor.executemany("INSERT INTO ASIGNATURAS VALUES (?,?,?,?,?,?,?,?,?)", variasLineas) # Tantos ? como campos de la tabla y como 2do parámetro se pone el nombre de la lista de tuplas.


miConexion.commit() # Se guardan los cambios anteriores
miConexion.close()

#### Cómo consultar nuestra BBDD y obtener datos

In [60]:
miConexion = sqlite3.connect(nombreBD)
miCursor = miConexion.cursor()
fitroTipoCadena = "INFORMÁTICA BÁSICA"
miCursor.execute("SELECT * FROM ASIGNATURAS WHERE Descripcion = "+"'"+fitroTipoCadena+"'")

                 
totalAsignaturas = miCursor.fetchall() # Se vuelca toda la información de la SELECT en una lista de Tuplas -> [(fila1),(fila2)]
#print(totalAsignaturas)
 
for fila in totalAsignaturas:
    print(fila) # fila[0] -> para mostrar únicamente los códigos de las asignaturas
    
miConexion.commit() # Se guardan los cambios anteriores
miConexion.close()

(811, 'INFORMÁTICA BÁSICA', 1, '264-Ing. Informatica', 'T', 'S', 'S', 1, 'T')
(812, 'INFORMÁTICA BÁSICA', 1, '264-Ing. Informatica', 'T', 'S', 'S', 1, 'T')